main {
    background-color: white;
    text-align: center;
}

h1, h2, h3, h4{
    padding-top: 10px;
}

.title{
    color: white;
    background: black;
    animation: fade-in-right .8s ease-in-out;

}


#location-content{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
   
}

.contact{
    padding: 10px;
    align-self: center;
    width: 400;
    text-align: left;
    
    
}
main ul{
    margin-top: 4vh;
    list-style: none;
    max-width: 768px;
    text-align: left;
}

.map{
    padding: 20px;
    text-align: center;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner{
    color: white;
    background: goldenrod;
}
.openBanner{
    color: white;
    background: goldenrod;
}
