button {
    cursor: pointer;
    background-color: rgb(122, 22, 236);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    width: 50%;
    font-size: 20px;
}

button:hover{
    background-color: blueviolet;
}


/* Coloring */
.text-primary{
    color: #f7c08a;
}

@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background: white;
    text-align: center;
}


main{
    margin: 20px;
}


h4 {
    text-align: center;
}

nav */

.logo img{
    height: 16vh;
}

.logo img a{
    display: flex;
    justify-content: center;
}


.navbar{
    height: 16vh;
    display: flex;
    background: purple;
    color: #fff;
    overflow: auto;

}
.navbar a {
    color: white;
    font-family: 'Architects Daughter', cursive;

}

.navbar h1{
    float: left;
    padding-top: 20px;
}

.navbar ul{
    display: flex;
    flex-grow: 1;
    align-items: center;
    float: right;
    list-style: none;
}

.navbar ul a{
    display: flex;
    flex-grow: 1 ;
    justify-content: space-between;
    float: right;
}

.navbar ul a {
    display: block;
    /* margin: 10px; */
    padding: 40px;
    text-align: center;
}


.phoneNumber a {
    color: blue;
}

.reviewList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    list-style: none;
    
}

#main-footer {
   
    margin-top: 10vh;
    height: 25vh;
}

.contact li{
    list-style: none;
}

.checked{
    color: gold;
}

.btn:hover {
    background:#f7c08a;
    color: #333;
}

.btn-light {
   background: #f4f4f4;
   color: #333;
}

.bg-dark {
    background: purple;
    color: #fff;
}
.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    color: #333;
    background: #f7c08a;
}

.clr{
    clear: both;
}

.center {
    text-align: center;
}



.reviews{
    text-align: center;
}
.reviews h3{
    margin-bottom: 2em;
}

.reviewList li{
    padding: 20px;
}

iframe{
    margin: 1rem;
}

.fb-post{
    margin: 1rem;
}


iframe:hover{
    transform: scale(1.05); 
    color: cornflowerblue;
}

#facebook{
    font-size: 18px;
    padding: 1rem;
    border: none;
}

.container{
    display: flex;
    flex-flow: column;
    padding-top: 10px;
    align-items: center;}

    .title{
        color: white;
        background: black;
        animation: fade-in-right .8s ease-in-out;
        }

