*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title{
    color: white;
    background: black;
}

main{
    background: white;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    
}

main ul {
    /* margin: 0rem 10rem; */
    justify-content: center;
    list-style: none;
    width: 800px;
    min-width: 350px;
    /* background: chocolate; */
    text-align: left;    
}

li {
    margin: 1rem;
}

.appetizers{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: blue; */
}
.soups-and-salads{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(0, 255, 115); */
}
.entrees{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(0, 255, 115); */
}

.curries{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* background: rgb(0, 255, 115); */
}
.chef-specialties{
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: rgb(0, 255, 115); */
}
.kids-meals{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: rgb(0, 255, 115); */
}
.desserts{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: rgb(0, 255, 115); */
}

hr {

    border-left: 80px solid rgb(0, 0, 0);
    margin-bottom: 10px;
  }

  /* nav */

.logo img{
    height: 16vh;
}

.logo img a{
    display: flex;
    justify-content: center;
}


.navbar{
    height: 16vh;
    display: flex;
    background: black;
    color: #fff;
    overflow: auto;

}
.navbar a {
    color: white;
    font-family: 'Architects Daughter', cursive;

}

.navbar h1{
    float: left;
    padding-top: 20px;
}

.navbar ul{
    display: flex;
    flex-grow: 1;
    align-items: center;
    float: right;
    list-style: none;
}

.navbar ul a{
    display: flex;
    flex-grow: 1 ;
    justify-content: space-between;
    float: right;
}

.navbar ul a {
    display: block;
    /* margin: 10px; */
    padding: 40px;
    text-align: center;
}